body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #faf8ef;
  color: #776e65;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

div {
  display: flex;
  flex-direction: row;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28vw;
  height: calc(28vw / 4);
  margin-bottom: 10px;
  font-size: 2.8vw;
}

#score {
  font-size: 2vw;
}

#game-end-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28vw;
  height: calc(28vw / 8);
  margin: 10px auto 0;
  font-size: 2.8vw;
}

#game-board {
  width: 28vw;
  height: 28vw;
  display: flex;
  flex-direction: column;
  background-color: #bbada0;
  border-radius: 1.4vw;
  padding: 0.3vw;
}

#bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28vw;
  height: calc(28vw / 8);
  margin: 0 auto;
  font-size: 28vw;
}

.row {
  height: 25%;
  display: flex;
}

.cell {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  font-size: 2.8vw;
  border-radius: 0.8vw;
  background-color: #d6cdc4;
  margin: 0.3vw;
  padding: 0;
}

._2 {
  background-color: #eee4da;
}

._4 {
  background-color: #ede0c8;
}

._8 {
  background-color: #f2b179;
  color: white;
}

._16 {
  background-color: #f59563;
  color: white;
}

._32 {
  background-color: #f67c5f;
  color: white;
}

._64 {
  background-color: #f65e3b;
  color: white;
}

._128 {
  background-color: #edcf72;
  color: white;
}

._256 {
  background-color: #edcc61;
  color: white;
}

._512 {
  background-color: #edc850;
  color: white;
}

._1024 {
  background-color: #edc53f;
  color: white;
}

._2048 {
  background-color: #edc22e;
  color: white;
  font-size: 2.4vw;
}
